

p,li{
    font-size: x-large;
}

.intro{
    background-color: #B8F1F2;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    

}

.cardcolor{
    background-color: #E074A3;
    
    padding-top: 200px;
    text-decoration: none;
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    margin-right: 0px;
    font-size: larger;
    color: white;
    font-weight: bold;
    

}

.cardcolor2{
    background-color: #C36691;
    padding-top: 200px;
    padding-bottom: 200px;
    text-decoration: none;
    border-radius: 10px;
    
    text-align: center;
    font-size: larger;
    color: white;
    font-weight: bold;
    

}

.cardcolor:hover {
    color: #9311c2;
}

.cardcolor2:hover {
    color: #9311c2;
}


.contnube{
    background-color: #006a73;
    
}

.contopciones{
    background-color: #006a73;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: larger;
}
.head{
    height: 270px;
}

.brain{
    width: 85%;
    height: auto;
    object-fit: fill;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nubes{
    
    padding-left: 150px;
    height: 50vh;
    filter: hue-rotate(10deg) saturate(1) brightness(1.5);
}

.videoPortada{
    width: 100%;
    height: auto;
    object-fit: fill;
    border: none;
    margin-top: 10px;
    box-shadow: -1px 5px 12px 6px #006A73;
    
}

video{
    width: 100%;
    height: auto;
    object-fit: fill;
    border: none;
    
}