.navbar{
    background-color: #006a73;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
    color: white;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
}

.navbar-brand{
    margin-left: 100px;
}